@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: sans;
  max-width: 100%;
  height: 100vh;
}

.dark {
  background-color: dark.500;
  color: white;
}

.dark ul li {
  border-bottom: 1px solid white;
}

.dark h1 {
  color: white;
}
